@model FaceBookClient.Models.HomeIndexViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Begining</title>
</head>
<body>

    <div id="NoSeenMessage">
        <div id="CountMissMessage" style="float:left"></div>
        <input type="button" id="NotificationMessageMiss" class="btn-primary" value="Message" />
        <div id="AllMessageFromUsers" class="hidden"></div>
    </div>

    <div id="PostList"></div>

    <div id="AskFriendList"></div>


    <div class="row">
        <div id="Chat"></div>
        <div style="float: right; right: 5%">
            <h2>Users:</h2>
            <ul id="UsersList" class="list-group" style="border: 2px solid; float:right"></ul>
        </div>

    </div>

    @*<h3>Messages: </h3>
        @{
            foreach (var message in Model.Messages)
            {
                <div>
                    <p style="float:left">@message.UserName:</p>
                    <p> @message.Letter</p>
                </div>
            }
        }*@

   

    <script src="~/Scripts/ScriptForChat.js"></script>
    <script src="~/Scripts/ScriptForUserInfo.js"></script>
    <script src="~/Scripts/ScriptForAskFriend.js"></script>
    @*<script src="~/Scripts/ScriptAllPostInfo.js"></script>*@
    <script src="~/Scripts/ScriptForNoSeeMessage.js"></script>

    <script>

        function CreateComment() {
            var idOnPost = $('#PostId').text();
            var descriptionOnPost = $('#CommentDisctriptionId').val();

            //var json = JSON.stringify(descriptionOnPost).toString()

            var subResult = idOnPost +" "+ descriptionOnPost;

            $.ajax({
                url: "/Post/CreateComment",
                type: "POST",
                data: JSON.stringify({ model: subResult }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == "Success") {
                        alert("Succes");
                        jQuery.get("/Home/Index", function (response) {
                            console.log("here");
                            $("#BodyContext").html(response)
                        });
                    }

                    else if (data.status == "no exist bill") {
                        alert("no exist bill");
                    }
                    else if (data.status == "no exist really bill") {
                        alert("no exist really bill");
                    }
                    else if (data.status == "no balance in really bill") {
                        alert("no balance in really bill");
                    }
                    else {
                        alert("Error occurs on the Database level!");
                    }
                },
                error: function (data) {
                    alert("An error has occured!!!");
                }
            });
        }

        $(function () {
            var job = $.connection.postHub;

            // Declare a function on the job hub so the server can invoke it
            job.client.displayAllPost = function () {
                getDataForAllPost();
            };

            // Start the connection
            $.connection.hub.start();
            getDataForAllPost();
        });

        function getDataForAllPost() {
            var $tbl = $('#PostList');
            $.ajax({
                url: 'GetAllPostFromUsers',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $tbl.empty();
                        var rows = [];
                        rows.push(' <p>Post</p>');
                        for (var i = 0; i < data.length; i++) {
                            rows.push(' <div>');
                            rows.push('  <p id="PostId" class="hidden">'+ data[i].PostId + '</p>');
                            rows.push('  <a id="UserName" href="/DetaialUser/Details/' + data[i].UserName + '">' + data[i].UserName + '</a>');
                            rows.push('  <p>Time:' + data[i].DateOnPost + ' min</p>');
                            rows.push('  <p>Post:' + data[i].DiscriptionPost + '</p>');
                            rows.push('  <div><input id="CommentDisctriptionId" type="text" name="discriptin" /></div>');
                            rows.push('  <button id="ComId" onclick="CreateComment()">Save comment</button>');
                            
                            rows.push(' </div>');
                        }
                        $tbl.append(rows.join(''));
                    }
                }

            })

            
        }
    </script>

    <script>

        //$(function () {

        //    // Proxy created on the fly
        //    var job = $.connection.noSeenMessageHub;

        //    // Declare a function on the job hub so the server can invoke it
        //    job.client.displayAllNoSeenMessage = function () {
        //        getDataForAllNoSeenMessage();
        //    };

        //    // Start the connection
        //    $.connection.hub.start();
        //    getDataForAllNoSeenMessage();
        //});


        //function getDataForAllNoSeenMessage() {
        //    var $tbl = $('#NoSeenMessage');

        //    $.ajax({
        //        url: 'GetAllNoSeenMessage',
        //        type: 'GET',
        //        datatype: 'json',
        //        success: function (data) {
        //            if (data.length > 0) {
        //                $tbl.empty();
        //                var rows = [];
        //                rows.push(' <h3>Messages: </h3>');

        //                for (var i = 0; i < data.length; i++) {
        //                    rows.push(' <div>');
        //                    rows.push('  <p>' + data[i].FormUser + ': ' + data[i].Message + '</p>');
        //                    rows.push(' </div>');
        //                }

        //                $tbl.append(rows.join(''));
        //            }
        //        }
        //    });
        //}


       

    </script>

</body>
</html>
