@{
    ViewBag.Title = "About";
}


<div class="well">
    <h2 style="margin-left: 50%;">@ViewBag.Title</h2>
    <img src="https://avatars2.githubusercontent.com/u/19819502?s=400&u=85ecabaac733ff9ca875ff3d09a0991f41d7a949&v=4" alt="No image!" style="float: left" width="200px" height="200px" />
    <div class="row" style="margin-left: 250px">
        Hello my name is Veselin Krustev. This is my final project for my Master degree at Technical University - Sofia.
        Here is a <a href="https://www.linkedin.com/in/veselin-krustev-5852b6135/">link</a> to my profile in the LinkedIn, if you want to learn something more about me. :)
    </div>
</div>