@model MeetLifeClient.Models.HomeIndexViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Begining</title>
</head>
<body>

    <div id="NoSeenMessage">
        <div id="CountMissMessage" style="float:left"></div>
        <input type="button" id="NotificationMessageMiss" class="btn-primary" value="Message" />
        <div id="AllMessageFromUsers" class="hidden"></div>
    </div>

    <div id="NotificationsOnUser">
        <input type="button" id="NotificationsOnUserButton" class="btn-primary" value="Notification" />
        <div id="AllNotifications" class="hidden"></div>
    </div>

    <div id="PostList"></div>

    <div id="AskFriendList"></div>
    

    <div class="row">
        <div id="Chat"></div>
        <div style="float: right; right: 5%">
            <h2>Users:</h2>
            <ul id="UsersList" class="list-group" style="border: 2px solid; float:right"></ul>
        </div>

    </div>

    @*<h3>Messages: </h3>
        @{
            foreach (var message in Model.Messages)
            {
                <div>
                    <p style="float:left">@message.UserName:</p>
                    <p> @message.Letter</p>
                </div>
            }
        }*@
    
    <script src="~/Scripts/ScriptForAskFriend.js"></script>
    <script src="~/Scripts/ScriptForChat.js"></script>
    <script src="~/Scripts/ScriptForUserInfo.js"></script>
    <script src="~/Scripts/ScriptAllPostInfo.js"></script>
    <script src="~/Scripts/ScriptForNoSeeMessage.js"></script>


    <script>

        $('#NotificationsOnUserButton').click(function () {
            var $allNotifications = $('#AllNotifications');

            if ($allNotifications.hasClass("hidden")) {
                $allNotifications.removeClass("hidden");
            }
            else {
                $allNotifications.addClass("hidden");
            }
        });

        $(function () {
            var job = $.connection.notificationsHub;

            // Declare a function on the job hub so the server can invoke it
            job.client.displayNotifications = function () {
                getDataForNotifications();
            };

            // Start the connection
            $.connection.hub.start();
            getDataForNotifications();
        });

        function getDataForNotifications() {
            var $tbl = $('#AllNotifications');
            $.ajax({
                url: 'GetNotificationsOnUser',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $tbl.empty();
                        var rows = [];

                        for (var i = 0; i < data.length; i++) {
                            rows.push(' <div>');
                            rows.push('  <p>' + data[i].Description + ' <a href="/Post/DetailsPost/?id=' + data[i].PostId + '">view</a> ' + '</p>');
                            rows.push(' </div>');
                        }

                        $tbl.append(rows.join(''));

                    }
                }

            })

        }

    </script>

    <script>

        //$(function () {

        //    // Proxy created on the fly
        //    var job = $.connection.noSeenMessageHub;

        //    // Declare a function on the job hub so the server can invoke it
        //    job.client.displayAllNoSeenMessage = function () {
        //        getDataForAllNoSeenMessage();
        //    };

        //    // Start the connection
        //    $.connection.hub.start();
        //    getDataForAllNoSeenMessage();
        //});


        //function getDataForAllNoSeenMessage() {
        //    var $tbl = $('#NoSeenMessage');

        //    $.ajax({
        //        url: 'GetAllNoSeenMessage',
        //        type: 'GET',
        //        datatype: 'json',
        //        success: function (data) {
        //            if (data.length > 0) {
        //                $tbl.empty();
        //                var rows = [];
        //                rows.push(' <h3>Messages: </h3>');

        //                for (var i = 0; i < data.length; i++) {
        //                    rows.push(' <div>');
        //                    rows.push('  <p>' + data[i].FormUser + ': ' + data[i].Message + '</p>');
        //                    rows.push(' </div>');
        //                }

        //                $tbl.append(rows.join(''));
        //            }
        //        }
        //    });
        //}




    </script>

</body>
</html>
