@{
    ViewBag.Title = "Contact";
}

<div class="well col-md-offset-2 text-center" style="width:800px">
    <h2>@ViewBag.Title</h2>
    <h3>If you want you can write email to our support for any questions. :)</h3>
    <strong>Support:</strong>   veselin.k.krustev@gmail.com<br />
</div>